@font-face {
  font-family: "OpenSans Condensed";
  src: url("assets/fonts/OpenSans_Condensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Condensed";
  src: url("assets/fonts/OpenSans_Condensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Condensed";
  src: url("assets/fonts/OpenSans_Condensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Condensed";
  src: url("assets/fonts/OpenSans_Condensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Condensed";
  src: url("assets/fonts/OpenSans_Condensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Condensed";
  src: url("assets/fonts/OpenSans_Condensed-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans SemiCondensed";
  src: url("assets/fonts/OpenSans_SemiCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans SemiCondensed";
  src: url("assets/fonts/OpenSans_SemiCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans SemiCondensed";
  src: url("assets/fonts/OpenSans_SemiCondensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans SemiCondensed";
  src: url("assets/fonts/OpenSans_SemiCondensed-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans SemiCondensed";
  src: url("assets/fonts/OpenSans_SemiCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans SemiCondensed";
  src: url("assets/fonts/OpenSans_SemiCondensed-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("assets/fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("assets/fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("assets/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("assets/fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Condensed";
  src: url("assets/fonts/OpenSans_Condensed-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
