.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;

  .title {
    width: 90vw;
    border-radius: 1rem;
    margin-bottom: 0.2rem;
    background-color: rgb(225, 252, 27);
    background-image: linear-gradient(
      174deg,
      rgb(229, 250, 70) 32%,
      rgb(240, 228, 63) 60%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;

    h1 {
      font-weight: 500;

      span {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }

  .days {
    width: 90vw;

    .day-container {
      margin-top: 0.4rem;
      border-radius: 1rem;
      height: auto;
      padding: 1rem 0rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      -webkit-box-shadow: 0px 1px 19px -11px rgba(66, 68, 90, 1);
      -moz-box-shadow: 0px 1px 19px -11px rgba(66, 68, 90, 1);
      box-shadow: 0px 1px 19px -11px rgba(66, 68, 90, 1);

      .day {
        margin-bottom: 0.5rem;
        font-weight: 600;
      }

      .description {
        font-size: 0.9rem;
        text-align: center;
        padding: 0rem 0.9rem;
      }
      .included {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        p {
          margin-top: 0.3rem;
          line-height: 1.1rem;
          font-weight: 400;
          padding: 0rem 0.8rem;
          font-size: 0.9rem;
          letter-spacing: 0.01rem;
        }
      }
    }
  }
}

@media (min-width: 400px) {
  .container {
    .title {
      height: 3.5rem;
      font-size: 1.1rem;

      h1 span {
        font-size: 1.4rem;
      }
    }

    .days .day-container {
      padding: 1.5rem 0rem;

      .day {
        font-size: 1.1rem;
      }

      .description {
        font-size: 1rem;
        padding: 0rem 0.6rem;
      }
      .included {
        p {
          padding: 0rem 0.8rem;
          font-size: 1.05rem;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .container {
    margin-top: 0.8rem;

    .title {
      width: 95vw;
      height: 3.9rem;
      font-size: 1.3rem;

      h1 span {
        font-size: 1.4rem;
        letter-spacing: 0.03rem;
      }
    }

    .days .day-container {
      .day {
        font-size: 1.1rem;
      }

      .description {
        font-size: 1.05rem;
        font-weight: 300;
        letter-spacing: 0.03rem;
        padding: 0rem 0.2rem;
      }
      .included {
        p {
          margin-top: 0.4rem;
          font-weight: 400;
          padding: 0rem 0.4rem;
          font-size: 0.98rem;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container .title {
    width: 90vw;
    height: 4.2rem;
  }
}

@media (min-width: 1400px) {
  .container {
    .title {
      width: 80vw;
    }
    .days {
      width: 80vw;
    }
  }
}

@media (min-width: 1600px) {
  .container {
    .title {
      width: 70vw;
    }
    .days {
      width: 70vw;
    }
  }
}
