.trips {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

  .trip {
    width: 70%;
    padding: 1rem 0.5rem;
    background-color: white;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);

    .title {
      padding-left: 1rem;
      font-weight: 500;
    }

    .main-info {
      display: flex;
      gap: 1rem;
      margin-top: 0.5rem;
      padding: 0.4rem 1rem;
      background-color: whitesmoke;
      font-size: 0.95rem;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .days {
      .day {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0.5rem;
        padding: 0.4rem 1rem;
        background-color: whitesmoke;
        font-size: 0.95rem;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);

        .day-number {
          display: flex;
          flex-direction: row;
          width: 15rem;
          font-weight: 500;
        }
      }
    }

    .included-excursions {
      display: flex;
      flex-direction: row;
      margin-top: 0.5rem;
      padding: 0.4rem 1rem;
      background-color: whitesmoke;
      font-size: 0.95rem;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);

      .name-of-excursion {
        display: flex;
        flex-direction: row;
        width: 30rem;
        font-weight: 500;
      }
    }
  }

  .trip-edit {
    width: 30%;
    padding: 1rem 1.5rem;
    background-color: white;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);

    .trip-detail-edit {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto auto;
      gap: 0.5rem;
      align-items: center;
      margin-top: 0.3rem;
      padding: 0.4rem 1rem;
      background-color: whitesmoke;
      font-size: 0.95rem;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);

      .trip-name-edit {
        grid-row: 1;
        grid-column: 1;
        font-weight: 500;
      }

      .trip-date-edit {
        grid-row: 2;
        grid-column: 1;
        font-size: 0.85rem;
      }

      .edit-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        grid-row: 1 / span 2;
        grid-column: 2;

        .edit-button {
          all: unset;
          width: 3.5rem;
          height: 2rem;
          line-height: 2rem;
          text-align: center;
          background-color: #e7f294;
          border-radius: 5px;
          font-size: 0.85rem;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #f0ff7f;
          }
        }

        .delete-button {
          all: unset;
          width: 3.5rem;
          height: 2rem;
          line-height: 2rem;
          text-align: center;
          background-color: #f2c777;
          border-radius: 5px;
          font-size: 0.85rem;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #ffca67;
          }
        }
      }
    }

    .add-trip {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0.8rem;
      font-size: 0.9rem;

      button {
        width: 9rem;
        height: 2rem;
        background-color: #f2e85c;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #fff23b;
        }
      }
    }
  }
}
