.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  padding: 4rem 6rem;
}
