.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #f2f2f2;

  .logo {
    width: 35vw;
    cursor: pointer;

    img {
      width: 100%;
      height: 20%;
    }
  }

  .burger-menu {
    position: absolute;
    right: 2rem;
    width: 8vw;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
