.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #f2f2f2;

  .logo {
    width: 35vw;
    cursor: pointer;

    img,
    svg {
      width: 100%;
      height: auto;
      transition: transform 0.5s ease-in-out;
    }
  }

  .burger-menu {
    position: absolute;
    right: 2rem;
    width: 8vw;
    cursor: pointer;

    img,
    svg {
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
    }
  }
}

.open {
  background-color: #f2c777;
  z-index: 101;
  animation: slideInFromRight 0.5s forwards;

  .burger-menu {
    img,
    svg {
      filter: hue-rotate(180deg);
      transform: scaleX(-1) rotate(360deg);
    }
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
