.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;

  .title {
    width: 90vw;
    border-radius: 1rem;
    margin-bottom: 0.2rem;
    background-color: rgb(225, 252, 27);
    background-image: linear-gradient(
      174deg,
      rgb(229, 250, 70) 32%,
      rgb(240, 228, 63) 60%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;

    h1 {
      font-weight: 500;

      span {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ol {
      margin-top: 0.3rem;
      li {
        margin-top: 0.3rem;
        text-align: center;
        font-weight: 300;
        padding: 0 0.4rem;
      }
    }
  }
}

@media (min-width: 400px) {
  .container {
    .title {
      height: 3.5rem;
      font-size: 1.1rem;

      h1 span {
        font-size: 1.4rem;
      }
    }
    .services {
      ol {
        li {
          font-size: 1.1rem;
          padding: 0 0.7rem;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .container {
    margin-top: 0.8rem;

    .title {
      width: 95vw;
      height: 3.9rem;
      font-size: 1.3rem;

      h1 span {
        letter-spacing: 0.03rem;
      }
    }
    .services {
      ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.1rem;
        width: 90vw;
        li {
          width: 40%;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    .title {
      width: 90vw;
      height: 4.2rem;
    }
  }
  .services {
    ol {
      gap: 0.4rem;
    }
  }
}

@media (min-width: 1400px) {
  .container {
    .title {
      width: 80vw;
    }
    .services {
      ol {
        gap: 0.2rem;
        width: 80vw;
        li {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .container {
    .title {
      width: 70vw;
    }
    .services {
      ol {
        width: 75vw;
      }
    }
  }
}
