.trips {
  margin-top: 1rem;

  h1 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.05rem;
    font-weight: 500;
    letter-spacing: 0.05rem;

    display: inline-block;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #f2c777;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      left: -20px;
    }

    &::after {
      right: -20px;
    }
  }

  .trip {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}

@media (min-width: 992px) {
  .trips {
    width: 95vw;

    h1 {
      font-size: 1.2rem;

      &::before,
      &::after {
        width: 12px;
        height: 12px;
      }
    }

    .trip {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}

@media (min-width: 1200px) {
  .trips {
    margin-top: 1.3rem;

    .trip {
      margin-top: 1.9rem;
    }
  }
}

@media (min-width: 1400px) {
  .trips {
    width: 90vw;

    h1 {
      font-size: 1.3rem;
      font-weight: 400;

      &::before,
      &::after {
        width: 12px;
        height: 12px;
      }
    }

    .trip {
      margin-top: 1.3rem;
    }
  }
}

@media (min-width: 1600px) {
  .trips {
    width: 85vw;

    h1 {
      font-size: 1.35rem;

      &::before,
      &::after {
        width: 11px;
        height: 11px;
      }
    }
  }
}
