.container {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 15px;
  background-color: #d0f065;

  h1 {
    padding: 0.5rem 0;
    padding-left: 0.82rem;
    text-align: left;
    font-size: calc(0.95rem + 0.5vw);
    font-weight: 500;
    color: #0c0d05;
    letter-spacing: 0.05rem;
  }

  .text {
    margin-top: 0.2rem;
    padding: 0.9rem 1.4rem;
    border-radius: 25px;
    background-color: #f7efe7;
    color: #817d79;
    display: flex;
    justify-content: center;

    p {
      font-size: calc(0.85rem + 0.5vw);
      line-height: 1.4;
      letter-spacing: 0.01em;
      font-weight: 300;
    }
  }
}
