.container {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  padding: 4rem 1.2rem;
  position: relative;
  border-radius: 15px;
  background-image: url("/src/assets/images/background.png"),
    linear-gradient(
      to right bottom,
      #f2c777,
      #f5ce70,
      #f6d769,
      #f5df62,
      #f2e85c
    );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;

  h1 {
    padding: 0.9rem 0;
    text-align: center;
    font-size: calc(0.9rem + 0.5vw);
    font-weight: 500;
    letter-spacing: 0.05rem;
    background-color: #f7efe7;
    padding: 0.8rem 0;
    border-radius: 25px;
  }

  .text {
    margin-top: 0.2rem;
    padding: 0.9rem 1.4rem;
    border-radius: 25px;
    background-color: #f7efe7;
    color: #817d79;
    display: flex;
    justify-content: center;

    p {
      font-size: calc(0.9rem + 0.5vw);
      line-height: 1.4;
      letter-spacing: 0.01em;
      font-weight: 300;
    }
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 95vw;
    max-width: 90vw;
    padding: 3rem;

    h1 {
      letter-spacing: 0.085rem;
      color: #0c0d05;
      text-align: left;
      padding-left: 1.8rem;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      width: 50%;
    }

    .text {
      margin-top: 0.5rem;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 85vw;
    padding: 3.5rem;

    h1 {
      padding-left: 1.5rem;
    }
  }
}

@media (min-width: 1400px) {
  .container {
    padding: 8rem 3rem;
    background-color: #d0f065;

    .text {
      padding: 1.2rem 1rem;
    }
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 80vw;
    padding: 8.5rem 3rem;

    h1 {
      padding-left: 2rem;
      font-size: calc(1rem + 0.5vw);
    }

    .text {
      margin-top: 0.75rem;
      padding: 3rem 2rem;
    }
  }
}
