.container {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 15px;
  background-image: linear-gradient(
    to right bottom,
    #f2c777,
    #f5ce70,
    #f6d769,
    #f5df62,
    #f2e85c
  );

  h1 {
    padding: 0.5rem 0;
    padding-left: 0.82rem;
    text-align: left;
    font-size: calc(0.95rem + 0.5vw);
    font-weight: 500;
    letter-spacing: 0.05rem;
  }

  .text {
    margin-top: 0.2rem;
    padding: 0.9rem 1.4rem;
    border-radius: 25px;
    background-color: #f7efe7;
    color: #817d79;
    display: flex;
    justify-content: center;

    p {
      font-size: calc(0.85rem + 0.5vw);
      line-height: 1.4;
      letter-spacing: 0.01em;
      font-weight: 300;
    }
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 95vw;
    max-width: 90vw;
    padding: 1.5rem;

    h1 {
      letter-spacing: 0.085rem;
      font-weight: 400;
      color: #0c0d05;
    }

    .text {
      margin-top: 0.5rem;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 85vw;
    padding: 1.8rem;

    h1 {
      padding-left: 0.85rem;
    }
  }
}

@media (min-width: 1520px) {
  .container {
    max-width: 85vw;
    padding: 3.5rem;
    background-color: #d0f065;

    .text {
      padding: 1.4rem 1.8rem;
    }
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 80vw;

    h1 {
      font-size: calc(1rem + 0.5vw);
      font-weight: 400;
    }

    .text {
      margin-top: 1rem;
      padding: 1.8rem 2rem;
    }
  }
}
